<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My ToDo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div
    fxFlexFill
    fxLayout="row wrap"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="15px grid"
  >
    <div>
      <form>
        <mat-card>
          <mat-card-header>

          </mat-card-header>
          <mat-card-content>

          </mat-card-content>
        </mat-card>
      </form>
      <mat-card>
        <mat-card-header>Todo List Card</mat-card-header>
        <mat-card-content>
          <span *ngFor="let t of todosValues">{{t.task}} - {{t.dueDate | date:"dd/MM/yyyy"}} - {{t.priority}}</span>
        </mat-card-content>

      </mat-card>
    </div>

  </div>
</div>

<app-todo-form (onSubmitForm)="updateForm($event)"></app-todo-form>
<br>
<br>
<app-todo-list [todoList]="todoList"></app-todo-list>
