<form [formGroup]="form" (ngSubmit)="addTodo()" #formDirective="ngForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Todo</mat-card-title>
      <mat-card-title>Edit Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="task"/>
        <mat-hint *ngIf="taskFormControl.invalid">
          Please enter a task
        </mat-hint>
      </mat-form-field>
      <div>
        <label>Priority: &nbsp; </label>
        <mat-radio-group
        aria-label="Select an option"
          formControlName="priority"
        >
          <mat-radio-button *ngFor="let p of priorities" value="{{p}}">
            {{p}} &nbsp;
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <input
          matInput
          [matDatepicker] = "picker"
          formControlName = "dueDate"
          [min]="tomorrow"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        >
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint *ngIf="dueDateFormControl.invalid">
          Please enter a future date
        </mat-hint>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
        <button mat-raised-button color="primary" type="button">Update</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
